<div th:fragment="navbar">
  <ul class="nav">
    <li><a th:href="@{/welcome}" class="active">Home</a></li>
    <li><a th:href="@{/publishers}">Publishers</a></li>
    <li><a th:href="@{/games}">Games</a></li>
    <div sec:authorize="isAuthenticated()" class="logout-option mt-2">
      <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      </form>
      <p>Welcome, <span sec:authentication="name"></span> |
        <a class="link-primary" onclick="document.forms['logoutForm'].submit()">Logout</a>
      </p>
    </div>
  </ul>
</div>